.projectHeader {
  min-height: 0;
  padding-bottom: 0;
}
.projectLinks {
  display: flex;
  flex-direction: column;
}

.projectLink {
  margin-bottom: 1.5rem;
}

.projectPreviewImage {
  margin: 1.5rem 0;
}