:root {
  /* Color variables */
  --color-black: #000;
  --color-red: #f0002f;
  --color-white: #fff;

  /* Font variables */
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
}

/* CSS Reset and global defaults */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: var(--font-secondary);
  line-height: 1.4;
}

ul {
  list-style: none;
}

/* Custom styles */
header,
section {
  padding: 6rem 0;
  min-height: 100vh;
}

a {
  color: var(--color-red);
  cursor: pointer;
  font-family: var(--font-primary);
  text-decoration: none;
  font-size: 2rem;
}

button {
  border: none;
  color: var(--color-red);
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

p,
li,
input,
textarea,
figcaption {
  font-family: var(--font-secondary);
}

h2 {
  color: var(--color-red);
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2rem;
  margin: 2.5rem 0;
}

p,
label,
input,
textarea,
figcaption {
  font-size: 1.3rem;
}

.container {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.imageMarkdown {
  padding: 2rem 0 !important;
}

/* Media queries */
@media (min-width: 1000px) {
  p,
  label,
  input,
  textarea,
  figcaption {
    font-size: 1.6rem;
  }

  .container {
    max-width: 92%;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  p,
  label,
  input,
  textarea,
  figcaption {
    font-size: 1.8rem;
  }
}
